modules/orchestration/deploymentManagement/.DS_Store
.DS_Store
test/
modules/orchestration/temp/
templates/profiling/.DS_Store
*.DS_Store
*.jpg
*.pt
*.pyc

__pycache__/
# *.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

.env
